:root {
  --width: 600px;
  --height: 650px;
}

.h1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.full {
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 275px;
  right: 270px;
  width: var(--width);
  height: var(--height);
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid black;
  z-index: 10000;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 40px 60px 40px;
}

.ul {
  width: 516px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  padding: 0;
  margin-top: 32px;
}

.li {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 56px;
  text-align: center;
  justify-content: space-between;
}

.close {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}

.img {
  margin-top: 16px;
}

.not_modal {
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
